


{% extends 'core/base.html' %}
{% load static %}

{% block principal %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form action="" method="POST"  class="d-flex flex-column align-items-center text-center">
                {% csrf_token %}
                <table class="mb-3">
                    {{form}}
                </table>
                <div class="d-flex justify-content-between w-50">
                    <a href="{% url 'index' %}">ir al home</a>
                    <input class="btn btn-danger" type="submit" value="ingresar">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}